* {
 box-sizing: border-box;
}

html,
body {
  font: 400 1rem/1.625rem "Open Sans", sans-serif;
  background: #252525;
  color: white;
  margin: 0;
}

p {
 font-size: 40px;
 color: white;
 text-align: center;
 background: #8c8c8c;
 border-radius: 10px;

 padding: 30px 0 30px 0;
 margin: 50px 50px 0 40px;
}

#reset {
  position: absolute;
  left: 40px;
  right: 40px;
  font-size: 58px;
  color: white;
  padding: 10px 0 10px 0;
  background: #7f5af0;
  border: none;
  border-radius: 10px;
}

#btn1 {
 background: #2a55a3;
}

#btn2 {
 background: #b02323;
}

#btn1:hover {
 background: #2f5eb6;
} 

#btn2:hover {
 background: #c42727;
}

#reset:hover {
 background: #9373f2;
}

#btn1,
#btn2 {
  font-size: 47px;
  text-align: right;
  margin: 0 40px 0 40px;
  border-radius: 10px;
  color: white;
  border: none;
  overflow: hidden;
  padding: 250px 220px 250px 215px;
}

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
  height: 200px;
}

.div2 {
  grid-area: 1 / 2 / 2 / 3;
  height: 200px;
}

.div3 {
  grid-area: 2 / 1 / 5 / 2;
  height: 500px;
}

.div4 {
  grid-area: 2 / 2 / 5 / 3;
  height: 500px;
}

.div5 {
  grid-area: 5 / 1 / 6 / 3;
}
